// Define variables for your color scheme

// Defaults

$red: #FD1015;
$yellow: #FFC65A;
$gray: #0E0000;
$light-gray: #F4F4F4;

// FLAG Colours

$orange: #E4740B;
$blue: #225560;
$black: #272D2D;
$green: #419D78;

$link-color: #3990A3;
