.row {
  justify-content: space-around;
  margin-top: 64px;
}

.results {
  box-shadow: 0px 0px 10px rgba(0, 78, 137, 0.25);
  border-radius: 8px;
  padding: 30px;
  justify-content: space-between;
  min-width: 400px;
}

.header-back {
  display: flex;
  a {
    margin-right: 40px;
  }
}


@media (max-width: 1000px) {
  .results-row {
    > div {
      width: 100%;
      max-width: 500px;
    }
  }

  .next-set {
    margin-top: 32px;
  }
}


.stats {
  #stats {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
  }
  #correct {
    margin-bottom: 8px;
  }
  #incorrect {
    margin-bottom: 20px;
  }
}

.percentage {
  p {
    margin-bottom: 16px;
  }
}

.link {
  margin-top: 80px;
  min-width: 150px;
}

.next-set {
  min-width: 500px;
  max-width: 600px;
  padding: 24px;
  background: #E4740B;
  box-shadow: 0px 0px 10px rgba(0, 78, 137, 0.25);
  border-radius: 8px;
  a {
    font-size: 24px;
    font-weight: bold;
  }
  a, p,{
    text-decoration: none;
    color: white;
  }
  small {
    color: white;
    opacity: 0.8;
  }
  h3 {
    color: white;
  }
}
.line {
  width: 90px;
  border-bottom: 1px solid white;
  margin-bottom: 16px;
}

.xp-earned {
  margin: 24px auto;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #1F4C85;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  p {
    color: white;
    margin: 0;
  }
}

.xp-total {
  text-align: center;
}

.vertical-line {
  border-left: 1px solid black;
  height: 200px;
}

.next-xp {
  p {
    margin: 16px 0px 0px 0px;
  }
}
