.results-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.results {
  box-shadow: 0px 0px 10px rgba(0, 78, 137, 0.25);
  border-radius: 8px;
  padding: 30px;
}

.next-set {
  padding: 16px;
  background: #E4740B;
  box-shadow: 0px 0px 10px rgba(0, 78, 137, 0.25);
  border-radius: 8px;
  a, p,{
    text-decoration: none;
    color: white;
  }
  small {
    color: white;
    opacity: 0.8;
  }
}

.stats {
  margin-right: 16px;
  .percentage {
    border-right: 1px solid black;
  }
}
