.user-welcome {
  margin-top: 40px;
  display: flex;
  h3 {
    margin: 8px 0 0 30px;
    font-size: 2.75rem;
  }
}

.profile {
  text-align: center;
}

.icon {
  margin-bottom: 48px;
}

.user-stats {
  display: flex;
  justify-content: space-between;
  h3 {
    color: white;
  }
  td {
    color: white;
  }
  td:first-of-type {
    width: 250px;
  }
}

.divided {
  width: 48%;
  padding: 32px;
  border-radius: 8px;
  h3 {
    margin-bottom: 12px;
  }
  &-blue {
    background-color: $blue;
  }
  &-orange {
    background-color: $orange;
    p {
      color: white;
    }
    span {
      color: white;
      font-weight: bold;
      &:hover {
        border-bottom: 3px solid;
        font-weight: bolder;
      }
    }
  }
}

.user-groups {
  margin-top: 40px;
  padding: 32px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  h3 {
    margin-bottom: 40px;
  }
}

.user-groups-table {
  // border: 1px solid black;
  width: 100%;
  text-align: center;

  tr td {
    padding-bottom: 16px;
  }

  tr:first-of-type td {
    font-weight: bold;
    margin-bottom: 20px;
  }
  a {
    color: $blue;
    font-weight: bold;
  }
}
