<div class="set-card-info col-sm-12">
  <div class="head">
    <h1><%= set.title %> - <%= set.difficulty %></h1>
    <!--EXP-->
  </div>
  <p><%= set.description %></p>
  <%= link_to "Start", card_set_path(set) %>
</div>
