<div class="set-card card-set <%= add %>">
  <div class="card-set-left">
    <div class="card-set-title light-font">
      <%= set.title %>
    </div>
    <div class="font card-set-description">
      <%= set.description %>
    </div>
  </div>
  <div class="card-set-count">
    <p class="light-font"><%= set.flashcards.count %> cards</p>
  </div>
</div>
