<h1><%= @language %> card sets</h1>
<div>
  <h2>Easy sets: </h2>
  <% @easy_sets.each do |set| %>
    <div>
      <% if current_user.user_sets.include?(set) %>
        <!--logic for later, add something if user has completed this set-->
      <% end %>
      <%= set.title %>
    </div>
  <% end %>
</div>

<div>
  <h2>Medium sets: </h2>
  <% @medium_sets.each do |set| %>
    <div>
      <% if current_user.user_sets.include?(set) %>
        <!--logic for later, add something if user has completed this set-->
      <% end %>
      <%= set.title %>
    </div>
  <% end %>
</div>

<div>
  <h2>Hard sets: </h2>
  <% @hard_sets.each do |set| %>
    <div>
      <% if current_user.user_sets.include?(set) %>
        <!--logic for later, add something if user has completed this set-->
      <% end %>
      <%= set.title %>
    </div>
  <% end %>
</div>
