<h1><%= @language %> card sets</h1>
<div>
  <h2>Easy sets: </h2>
  <% @easy_sets.each do |set| %>
    <div>
      <%= set.title %>
    </div>
  <% end %>
</div>

<div>
  <h2>Intermediate sets: </h2>
  <% @intermediate_sets.each do |set| %>
    <div>
      <%= set.title %>
    </div>
  <% end %>
</div>

<div>
  <h2>Hard sets: </h2>
  <% @hard_sets.each do |set| %>
    <div>
      <%= set.title %>
    </div>
  <% end %>
</div>
