<div class="container">
  <div style="position: relative">
    <%= link_to languages_path, class: "light-font index-back" do %>
      <div class="btn nav">
        <i class="fas fa-arrow-left"> <span class="light-font">Back</span></i>
      </div>
    <% end %>
    <h1 class="text-center"><%= @card_set.title %></h1>
  </div>
<hr>
<div class="flashcard-container">
  <% @card_set.flashcards.shuffle.each do |flashcard| %>
    <% @answers = [flashcard.correct_answer, flashcard.answer_1, flashcard.answer_2, flashcard.answer_3] %>
    <% @answers.shuffle! %>
    <div class="card-parent">
      <%= render "question_form", flashcard: flashcard, correct_answer: flashcard.correct_answer %>
    </div>
    <% @counter -= 1 %>
  <% end %>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
// setting up some constants
// options are the answer options / radio buttons
const options = $('.form-check-input');
const labels = $('.form-check-label');
const submit = $('.submit-btn')
// long one, creates an arra of correct answers for current set, getting them from the hidden fields for each flashcard
// using map function to create the array, only taking the value
const correct_answers = $('input[name="user_answer[correct]"]').map(function() {return this.value;}).get()
// array of labels with correct answers
const answers = labels.map(function() {
  if (jQuery.inArray( $(this).text(), correct_answers) !== -1 ) {
    return this;
  };
});

$(document).on('submit', '.flash-form', function() {
  // card is the current flashcard div
  let card = $(this).parent().parent();
  // on submit, the buttons are disabled, small delay added to allow for form submit
  submit.hide();
  setTimeout (function () {
    options.prop('disabled', true);
  }, 50);

  if(card.siblings().length <= 1) {
    answers.addClass('correct');
    let redirect = window.location.protocol + "//" + window.location.host + "/results"
    // timeout to prevent from the result page getting rendered before last answer is processed
    setTimeout (function () {
      window.location.replace(redirect)
    }, 100);
  }
  else {
    // add green background to correct answers
    answers.addClass('correct');
    setTimeout (function () {
      card.toggle("slow");
      options.prop('disabled', false);
      submit.show();
      card.next().remove();
      // remove green background from correct answers
      answers.removeClass('correct');
    }, 100);
  }
});
</script>
