<div>
  <h1><%= @card_set.title %></h1>
</div>
<div>

  <% @flashcard_set.each do |flashcard| %>
    <% @answers = [flashcard.correct_answer, flashcard.answer_1, flashcard.answer_2, flashcard.answer_3] %>
    <% @answers.shuffle! %>

    <div>
      <h2><%= flashcard.question %></h2>
    </div>

    <div>
      <%= render "question_form", options: @answers, flashcard: flashcard %>
    </div>

  <% end %>

</div>
