<h1>All Languages</h1>

<hr>

<h3>Your 3 most recent languages</h3>
<div class="language-grid">
  <% @top3.each do |language| %>
    <div class="card-language"><%= language %></div>
  <% end %>
</div>

<hr>

<div class="language-grid">
  <% @languages.each do |language| %>
  <div class="card-language">
      <%= language.name %>
      <div class="card-language-tooltip">
        <i class="btn text-white fas fa-info-circle"></i>
      </div>
      <%= cl_image_tag language.photo.key, height: 300, width: 400, crop: :fill%>
      <small><%= language.description %></small>
    </div>
  <% end %>
</div>
