<h1>Testing H1</h1>
<h2>Testing H2</h2>
<h3>Testing H3</h3>
<p>Testing paragraph text</p>

<a href="#">Testing Link Text</a>

<hr>

<h2>Quick Links for Dev</h2>
<%= link_to "Languages List", languages_path %>

<hr>
<h2>Buttons</h2>

<div class="primary-cta btn light-font">PRIMARY CTA</div>

<div class="secondary-btn btn dark-font">SECONDARY BTN</div>

<div class="btn nav light-font">
  <span><i class="fas fa-arrow-left"></i>  BACK</span>
</div>

<div class="btn nav light-font">
  <span>NEXT  <i class="fas fa-arrow-right"></i></span>
</div>
<br>
<br>
<div class="btn submit-btn dark-font">SUBMIT</div>

<hr>
<h2>CARDS</h2>


<div class="card-language">
  LANGUAGE
  <div class="card-language-tooltip">
    <i class="fas fa-info-circle"></i>
  </div>
</div>

<div class="card-set">
  <div class="card-set-left pr-3">
    <div class="card-set-title">
      ARRAYS AND HASHES
    </div>
    <div class="card-set-description">
      SET DESCRIPTION
    </div>
  </div>
  <div class="card-set-count">
    15/20 CARDS MASTERED
  </div>
</div>
