<h1>Testing H1</h1>
<h2>Testing H2</h2>
<h3>Testing H3</h3>
<p>Testing paragraph text</p>

<a href="#">Testing Link Text</a>

<hr>

<h2>Quick Links for Dev</h2>
<%= link_to "Languages List", languages_path %>

<hr>

<div class="primary-cta btn light-font">PRIMARY CTA</div>

<div class="secondary-btn btn dark-font">SECONDARY BTN</div>

<div class="nav btn light-font">
  <span><i class="fas fa-arrow-left"></i>  BACK</span>
</div>

<div class="nav btn light-font">
  <span>NEXT  <i class="fas fa-arrow-right"></i></span>
</div>

<div class="submit-btn">SUBMIT</div>
