<div class="banner">
  <div class="home">
    <h1>Flashcodes</h1>
    <p>some nice catch phrase</p>
    <div class="buttons">
      <%= link_to "Get started", new_user_registration_path, class: 'btn primary-cta' %>
      <%= link_to "I already have an account", new_user_session_path, class: 'btn secondary-btn' %>
    </div>
  </div>
</div>
<div class="filler"></div>
  <div class="description">
    <h1>Flashcodes</h1>
    <div class="pictures">
      <div class="focus">
        <div class="focus-pic picture"></div>
        <p>All your vocabulary. In one place</p>
      </div>
      <div class="progressa">
        <div class="progress-pic picture"></div>
        <p>keep track of your progress and improvement</p>
      </div>
      <div class="social">
        <div class="social-pic picture"></div>
        <p>Join a worldwide community of learners</p>
      </div>
  </div>
<div class="all-languages">
  <%= link_to "Discover all the languages", languages_path ,class: 'btn primary-cta all-languages' %>
</div>
