<h1>Testing H1</h1>
<h2>Testing H2</h2>
<h3>Testing H3</h3>
<p>Testing paragraph text</p>

<a href="#">Testing Link Text</a>

<hr>

<h2>Quick Links for Dev</h2>
<%= link_to "Languages List", languages_path %>
