<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path('home.jpg') %>)">
  <div class="container">
    <h1>team adventures <strong class="text-warning">coming soon</strong> - we'll let you know when we're <strong class="text-warning">ready!</strong></h1>
    <div class="buttons">
      <%= link_to "Back to Languages", languages_path ,class: 'btn secondary-btn' %>
    </div>
  </div>
</div>
