
// Adventure Progress Bar Animation
.solid-line {
  animation: solid-anim 2s ease-in-out forwards;
  // animation-play-state: paused;
  fill: none;
  stroke-width: 6;
  stroke: #FFF;
  stroke-linecap: round;
}

.dotted-line {
  fill: none;
  stroke: #FFF;
  stroke-dasharray:1 20;
  stroke-width: 5;
  stroke-linecap: round;
}

@keyframes solid-anim {
  0% {
    stroke-dasharray: 0 550;
  }
}

// Logo animation
.big-bolt {
  animation: logo-anim 1.5s forwards;
  fill:none;
  stroke:black;
  stroke-width:10.1px;
  stroke-dasharray: 0 300;

}

@keyframes logo-anim {
  0% {
    stroke-dasharray: 0 300;
  }

  50% {
    stroke-dasharray: 0 300;
  }

  100% {
    stroke-dasharray: 400 0;
  }
}

.flash {
  fill: $blue;
}
