.cards-lang-card {
  padding: 16px;
  margin: 8px;
  border: 4px solid $border;
  background-color: #FFFAF2;
  width: 100%;
  margin-bottom: 2px;
}

.cards-lang-image {
  width: 100%;
  background: linear-gradient(180deg, rgba(34, 85, 96, 0.47) 0%, rgba(39, 45, 45, 0.37) 100%), url(lang-card-bg.jpg);

}

.cards-lang-title {
  background-color: $info-color;
  border: 4px solid $border;
  padding: 20px;
  margin: 2px 2px 0 0;

}

.cards-lang-icon {
}
