.grid__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
  min-height: 100px;
  font-size: 2em;
  text-decoration: none;
  color: white;
  background-color: #004E89;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 101px;
  font: $headers-font;

  &:focus + .grid__description {
    max-height: 400px;
    transition: 0.8s ease-in;
  }

}

.grid__description {
  max-height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  background: $orange;
  transition: 0.2s ease-out;
  &:hover {
    max-height: 400px;
  }
}

.grid-xp {
  background-color: $blue;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-height: 3.4rem;
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "item item item"
      "desc desc desc";
  }

  .grid__description {
    grid-area: desc;
  }
}

.card-description {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-around;
  width: 100%;
  h6, p {
    margin: 0;
    color: white;
  }
}

// @media (max-width: 300px) {
//   .grid {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-areas:
//       "item"
//       "desc";
//   }

//   .grid__description {
//     grid-area: desc;
//   }

//   .grid-xp {
//     padding: 0.5rem;
//     // max-height: 3.4rem;
//     font-size: 0.75rem;
//   }

//   .cardset-left {
//     width: 100px;
//   }
// }
