.card-language {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(lang-card-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font: $headers-font;
  font-size: 1.5rem;
  position: relative;
}

.card-language-tooltip {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: $light-gray;
  font-size: 1rem;
}

.card-set {
  background-color: #004E89;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 101px;
  height: 180px;
  display: flex;
  align-items: center;
  color: white;
  font: $headers-font;
}

.card-set-left {
}

.card-set-title {

}


.card-set-description {

}


.card-set-count {
  text-align: right;
}
