
// LANGUAGES GRID LAYOUT

.language-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media (min-width: 100px) and (max-width: 575px) {
  .language-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 576px) {
  .language-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .language-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .language-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .language-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// LANGUAGE CARDS

.card-language {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font: $headers-font;
  font-size: 1.5rem;
  position: relative;
}

.card-language-tooltip {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: $light-gray;
  font-size: 1rem;
}

// CARD SETS GRID LAYOUT

// .sets-grid {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 1rem;
// }

// @media (min-width: 100px) and (max-width: 575px) {
//   .sets-grid {
//     grid-template-columns: 1fr;
//   }
// }

// @media (min-width: 576px) {
//   .sets-grid {
//     grid-template-columns: 1fr;
//   }
// }

// @media (min-width: 768px) {
//   .sets-grid {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media (min-width: 992px) {
//   .sets-grid {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media (min-width: 1200px) {
//   .sets-grid {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// CARD SET STYLING

.card-set {
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #004E89;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 101px;
  padding: 1rem;
  margin-top: 1rem;
  height: 120px;
  font: $headers-font;
  position: relative;
}

// Group Show Cards

.highlights {
  background-color: $orange;
  padding: 24px 32px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.group-stat {
  text-align: center;
  margin-right: 24px;
  h4, h5, p {
    color: white;
    margin: 0
  }
}

.card-set-left {
  height: 90%;
  // width: auto;
}

.card-set-title {
  font-size: 1em;
  padding-left: 3rem;
  width: 70%;
  text-align: left;
}


.card-set-description {
  font-size: 0.75em;
  width: 90%;
  padding-left: 3rem;
  padding-top: 0.5rem;
  text-align: left;
  color: lightgray;
}


.card-set-count {
  position: absolute;
  top: 1.5em;
  right: 10%;
  height: 90%;
  // color: $orange !important;
  // text-align: right;
}

.set-completed {
  background-color: $green
}

.set-attempted {
  border: 2px solid red;
}

.set-info-bg {
  background-color: #004E89;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 2rem 5rem;
}

// FROM MAX

.set-card-info {
  display: none;
}

.set-card-info.active {
  display: block;
}

.set-card-info-exp {
  position: absolute;
  top: 3.5rem;
  right: 5em;
}

.head {
  position: relative;
}
