.footer {
  background: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5rem;
  padding: 0px 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $orange;
  opacity: 0.8;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright {
  color: $orange;
  font-size: 1rem;
}

.fa-heart {
  color: red;
}

#footer-lang-list {
  color: $light-gray;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 1em;
  padding-left: 1em;
  text-align: center;
  opacity: 1;

  // position: relative;
  // font-size: 1em;
  a {
    color: white;
    font-size: 0.75em;
    opacity: 0.8;
  }
  a:hover {
    opacity: 1;
  }
}

#footer-header {
  color: gray;
  font-size: 0.75em;
  width: 3rem;
  text-align: center;
  position: relative;
  opacity: 1;
}

@media (min-width: 100px) and (max-width: 768px) {
  #footer-lang-list {
    opacity: 0;
    position: absolute;
  }

  #footer-header {
    opacity: 0;
    position: absolute;
  }

  .footer-copyright {
    font-size: 0.75rem;
    transition: 0.5s ease;
    margin-left: 30%;
    text-align: right;
  }
}
