.navbar-lewagon {
  justify-content: space-between;
  background-color: $blue;
  transition: 0.5s opacity ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid $orange;
  height: 5rem;
  p {
    color: white;
  }
}

.navbar-lewagon-trans {
  opacity:0.5;
  transition: 0.5s opacity ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  margin-left: 24px;
  margin-right: 24px;
}

.game-progress {
  // width: 150px;
  height: 50px;
}

.username {
  p {
    font-size: 14px;
    margin-left: 8px;
    margin-bottom: 4px;
  }
}
.progress {
  width: 64px;
  height: 6px;
  margin-left: 8px;
  border-radius: 8px;
}

.level {
  p {
    margin-left: 12px;
    margin-top: 15px;
    font-size: 0.9em;
  }
}

.nav-button {
  font-weight: 700;
  color: white;
}
