.navbar-lewagon {
  justify-content: space-between;
  background-color: $navbar-color;
  transition: 0.5s opacity ease;
  max-height: 4rem;
}

.navbar-lewagon-trans {
  opacity:0.5;
  transition: 0.5s opacity ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
