.notification {
  display: flex;
  align-items: center;
  // margin-bottom: 8px;
  background: white;
  padding: 4px 8px;
  border: 1px solid $orange;
  width: 350px;

  &:hover {
    max-height: 250px !important;
  }
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 0 0 16px;
}

.notification p {
  margin: 0 0 4px 0;
  line-height: 1;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  padding-right: 0;
  margin-left: 16px;
  font-size: 0.75rem;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.scrollable {
  overflow: auto;
  max-height: 250px;
}


.notif-icon {
  padding: 9px 5px 0px 0px;
}

#notif-icon-position {
  margin-top: -16px;
  // padding: 4px;
  // background-color: $orange;
}
